# Example environment variables for local development
PORT=8080
DYNAMODB_TABLE_NAME=Urls
AWS_ENDPOINT=http://localhost:8000
AWS_REGION=us-east-1
SHARDID=1
OTEL_COLLECTOR_ENDPOINT=localhost:4317
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
